
*{
  margin:0;
  padding:0;
  
}
.header-section{
  background-image: url(images/fruits.2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.hero-section h1{
 font-size: 4rem;
 margin-bottom: 20px;
 color:white
}

.hero-section p{
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
}
.bt-custom{
  background-color:#FC55A5 ;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  color:white;
  text-transform: capitalize;
  transition: background-color 0.5s ease;
}

.bt-custom:hover{
  background-color:green;
  color: black;
}
.features-section{
  padding:60px 0px;
  background-color: aqua;
}

.features-section h2{
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
.featured-card{
  background-color: rgb(207, 195,195);
  padding: 30px;
  border: none;
  border-radius: 15px;
  margin-bottom: 3px;
  box-shadow: 20px 8px 20px yellowgreen;
  transition: transform 0.5s ease;
 
}
.featured-card:hover{
  transform: translateY(10px);
}
.featured-card img{
  width: 70px;
  margin-bottom: 20px;
  
}
 .featured-card h5{
  font-size: 1.3rem;
  margin-bottom: 10px;
  
 }
 .featured-card p{
  font-weight: 500;
 }

 .testimonial-section{
  padding: 60px 0px;
 }
 .testimonial-section h2{
  text-align: center;
  margin-bottom: 50px;
  font-size: 600;
 }
 .testimonial-content{
  padding: 30px;
 }
 .testimonial-content{
  background-color: #ff007b;
  margin-bottom: 10px;
  color: white;
  border-radius: 15px;
  box-shadow: 20px 8px 20px black;
  transition: transform 0.5s ease;
 }
 .testimonial-content img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
 }
 .testimonial-content p{
  font-size: 1.3rem;
  font-style: italic;
 }
 .testimonial-content:hover{
  transform: translatey(10px);
 }
.checkout-section{
  padding: 60px 0px;
}
.checkout-section h2{
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}
.checkout-form{
  max-width: 600px;
  margin: auto;
  padding: 15px;
  background-color: #ff007b;
  box-shadow: 14px 10px 38px yellow;
  color:white;
  font-weight: 600;
}
.custom-input{
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
  
}
.btn-custom{
  width: 20%;
  border-radius: 15px;
  padding: 5px;
  border: none;
  background-color: white;
  font-weight: 600;
} 
